body{
    font-family: "Space Grotesk", Segoe UI, Tahoma, sans-serif;
    font-size: 100%;
    width: 25rem;
    height: fit-content;
    background-color: #292a2d;
    color: white;
}

.root{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.root hr {
    width: 100%;
    opacity: 0;
}



.switch-container{
    display: inherit;
    align-items: center;
}

.switchLabel{
    margin: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: forestgreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 5px;
}

.slider.round:before {
    border-radius: 5px;
}

.labelBold{
    font-weight: bold;
    font-size: large;
}

.labelDimmer{
    color: #d1d1d1;
}

.inputContainer{
    display: flex;
    align-content: space-evenly;
}


.copy-text {
    padding: 5px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.copy-text input.text {
    padding: 0 10px;
    color: #000;
    border: none;
    outline: none;
    text-align: center;
    font-size: medium;

}
.copy-text button {
    padding: 10px;
    background: #2196F3;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.copy-text button:active {
    background: #809ce2;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.reset-button {
   background-color: #FFFFFF;
   border: 1px solid #222222;
   border-radius: 5px;
   box-sizing: border-box;
   padding: 13px 13px;
   transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
}

.reset-button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.reset-button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}


.footer {
    margin-top: 3rem;
    width: 100%;
    opacity: 0.15;
    font-size: x-small;
}

.footer .code{
    display: flex;
    align-items: center;
    justify-content: right;
}